@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>CQRS Template</h3>
    <p>
        This web application implements a GUI to a sample CQRS application. CQRS stands for "Command Query Responsibility Segregation".
        The purpose of this design pattern is to acknowledge that there is a distinct difference between <em>reading</em> data in order to
        present it to the user, and <em>writing</em> data to the data storage.
    </p>
</div>